[BOT]
TOKEN=
MUSIC_ENABLED=False
SPEECH_ENABLED=False
USE_EMBEDDED_COMFY=True
MAX_RETRIES=3
MAX_QUEUE_PER_USER=4

# Install https://github.com/if-ai/ComfyUI-IF_AI_tools in custom_nodes if you want to use LLM prompt enhancement
# Model: https://ollama.com/impactframes/llama3_ifai_sd_prompt_mkr_q4km
[LLM]
USE_LLM=False
API_URL=localhost
API_PORT=11434
MODEL_NAME=impactframes/llama3_ifai_sd_prompt_mkr_q4km:latest
SYSTEM_PROMPT=Prompt Enhancer with Tags excels in creating highly concise image prompts, tailored for surreal and realistic scenes, with an added focus on dynamic composition. This GPT skillfully integrates booru-style tags that specifically enhance composition and dynamism, without using hashtags. Its prompts are extremely brief, yet strategically crafted to include elements that boost the image's visual appeal and energy, making them perfect for platforms like Stable Diffusion. The GPT refines basic prompts by incorporating only the most critical details and composition-enhancing tags, ensuring quality and specificity while preserving the original intent. Responses are very brief, providing a compact, enriched prompt without unnecessary length. \nHere is the prompt:\n

[LOCAL]
SERVER_ADDRESS=http://127.0.0.1:8188
COMFY_ROOT_DIR=embedded_comfy

[EMBEDDED]
SERVER_PORT=8188

[SDXL_GENERATION_DEFAULTS]
MODEL=dreamshaperXL10_alpha2Xl10.safetensors
NUM_STEPS=8
CFG_SCALE=1.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2
ACCELERATOR_ENABLED=True
ACCELERATOR_LORA_NAME=xl\sdxl_lightning_4step_lora.safetensors
SCHEDULER=sgm_uniform
DEFAULT_STYLE_PROMPT=
DEFAULT_NEGATIVE_STYLE_PROMPT=
DETAILING_CONTROLNET=XL/controlllite_xl_tile_realistic.safetensors
LLM_PROFILE=IF_PromptMKR
USE_TENSORRT=False
TENSORRT_MODEL=

[SD15_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=ddim
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2
LLM_PROFILE=IF_PromptMKR_IMG
USE_TENSORRT=False
TENSORRT_MODEL=

[SVD_GENERATION_DEFAULTS]
MODEL=svd/svd_xt_1_1.safetensors
NUM_STEPS=15
CFG_SCALE=2.5
BATCH_SIZE=1
SAMPLER=euler
SCHEDULER=karras
MIN_CFG=1
MOTION=50
AUGMENTATION=0
FPS=8
USE_ALIGN_YOUR_STEPS=True

[CASCADE_GENERATION_DEFAULTS]
MODEL=cascade/stable_cascade_stage_c.safetensors
NUM_STEPS=20
CFG_SCALE=4.0
BATCH_SIZE=4
SAMPLER=euler_ancestral
SCHEDULER=simple
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
LLM_PROFILE=IF_PromptMKR

[PONY_GENERATION_DEFAULTS]
MODEL=pony/ponyDiffusionV6.safetensors
NUM_STEPS=12
CFG_SCALE=2.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2
ACCELERATOR_ENABLED=False
ACCELERATOR_LORA_NAME=xl/sdxl_lightning_4step_lora.safetensors
SCHEDULER=normal
DEFAULT_STYLE_PROMPT=score_9, score_8_up, score_7_up, score_6_up, score_5_up
DEFAULT_NEGATIVE_STYLE_PROMPT=worst quality, bad quality, low quality, deformed, blurry, censored, bad anatomy, watermark, signature, bad artist, lowres, missing limbs, missing hands, missing fingers, extra fingers, extra hands, extra digits, malformed face, loli, kid, kids, children
VAE=pony/pony_vae.safetensors
DETAILING_CONTROLNET=pony/bdsqlsz_controlllite_xl_tile_anime.safetensors
LLM_PROFILE=IF_PromptMKR_IMG

[SD3_GENERATION_DEFAULTS]
MODEL=sd3/sd3_medium.safetensors
NUM_STEPS=20
CFG_SCALE=5
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=dpmpp_2m
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-1
ACCELERATOR_ENABLED=False
SCHEDULER=sgm_uniform
DEFAULT_STYLE_PROMPT=
DEFAULT_NEGATIVE_STYLE_PROMPT=
DETAILING_CONTROLNET=
LLM_PROFILE=IF_PromptMKR
USE_ALIGN_YOUR_STEPS=False
USE_TENSORRT=False
TENSORRT_MODEL=

[FLUX_GENERATION_DEFAULTS]
MODEL=flux/FLUXMODEL.safetensors
NUM_STEPS=50
CFG_SCALE=1
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=euler
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-1
ACCELERATOR_ENABLED=False
SCHEDULER=simple
DEFAULT_STYLE_PROMPT=
DEFAULT_NEGATIVE_STYLE_PROMPT=
DETAILING_CONTROLNET=
LLM_PROFILE=IF_PromptMKR
USE_ALIGN_YOUR_STEPS=False
USE_TENSORRT=False
TENSORRT_MODEL=
MASHUP_IMAGE1_STRENGTH=1
MASHUP_IMAGE2_STRENGTH=1

[WAN_GENERATION_DEFAULTS]
MODEL=Wan2_1_T2V_1_3B_bf16.safetensors
NUM_STEPS=30
CFG_SCALE=6
BATCH_SIZE=1
SAMPLER=uni_pc
SCHEDULER=simple
FPS=16
USE_TEACACHE=TRUE

[IMAGE_WAN_GENERATION_DEFAULTS]
MODEL=wan2_1_i2v_14b_480p_q3_k_m.gguf
NUM_STEPS=20
CFG_SCALE=6
BATCH_SIZE=1
SAMPLER=uni_pc
SCHEDULER=simple
FPS=16
MAX_WIDTH=320
USE_TEACACHE=TRUE

[ADD_DETAIL_DEFAULTS]
DENOISE_STRENGTH=0.3
BATCH_SIZE=1
DETAILING_CONTROLNET_STRENGTH=0.5
DETAILING_CONTROLNET_END_PERCENT=1

[UPSCALE_DEFAULTS]
MODEL=RealESRGAN_x4plus.pth

[MUSICGEN_DEFAULTS]
DURATION=10.0
CFG=3.0
TOP_K=250
TOP_P=0.0
TEMPERATURE=1.0

[TORTOISE_DEFAULTS]
TOP_P=0.8
TEMPERATURE=0.3
VOICE=random

[BLOCKED_WORDS]
WORDS=KIDS,KID,CHILDREN,CHILD,LOLI