[BOT]
TOKEN=
MUSIC_ENABLED=False
SPEECH_ENABLED=False
USE_EMBEDDED_COMFY=True

[LOCAL]
SERVER_ADDRESS=http://127.0.0.1:8188
COMFY_ROOT_DIR=embedded_comfy

[EMBEDDED]
SERVER_PORT=8188

[SDXL_GENERATION_DEFAULTS]
MODEL=dreamshaperXL10_alpha2Xl10.safetensors
NUM_STEPS=8
CFG_SCALE=1.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2
ACCELERATOR_ENABLED=True
ACCELERATOR_LORA_NAME=xl\sdxl_lightning_4step_lora.safetensors
SCHEDULER=sgm_uniform
DEFAULT_STYLE_PROMPT=
DEFAULT_NEGATIVE_STYLE_PROMPT=
DETAILING_CONTROLNET=XL/controlllite_xl_tile_realistic.safetensors

[SD15_GENERATION_DEFAULTS]
MODEL=rundiffusionFX_v10.safetensors
NUM_STEPS=20
CFG_SCALE=8.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=ddim
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2

[VIDEO_GENERATION_DEFAULTS]
MODEL=svd/svd_xt_1_1.safetensors
NUM_STEPS=15
CFG_SCALE=2.5
BATCH_SIZE=1
SAMPLER=euler
SCHEDULER=karras
MIN_CFG=1
MOTION=50
AUGMENTATION=0
FPS=8

[CASCADE_GENERATION_DEFAULTS]
MODEL=cascade/stable_cascade_stage_c.safetensors
NUM_STEPS=20
CFG_SCALE=4.0
BATCH_SIZE=4
SAMPLER=euler_ancestral
SCHEDULER=simple
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8

[PONY_GENERATION_DEFAULTS]
MODEL=pony/ponyDiffusionV6.safetensors
NUM_STEPS=12
CFG_SCALE=2.0
BATCH_SIZE=4
ASPECT_RATIO=1:1
DENOISE_STRENGTH=0.8
SAMPLER=euler_ancestral
INPAINTING_DETECTION_THRESHOLD=200
CLIP_SKIP=-2
ACCELERATOR_ENABLED=False
ACCELERATOR_LORA_NAME=xl/sdxl_lightning_4step_lora.safetensors
SCHEDULER=normal
DEFAULT_STYLE_PROMPT=score_9, score_8_up, score_7_up, score_6_up, score_5_up
DEFAULT_NEGATIVE_STYLE_PROMPT=worst quality, bad quality, low quality, deformed, blurry, censored, bad anatomy, watermark, signature, bad artist, lowres, missing limbs, missing hands, missing fingers, extra fingers, extra hands, extra digits, malformed face, loli, kid, kids, children
VAE=pony/pony_vae.safetensors
DETAILING_CONTROLNET=pony/bdsqlsz_controlllite_xl_tile_anime.safetensors

[ADD_DETAIL_DEFAULTS]
DENOISE_STRENGTH=0.3
BATCH_SIZE=1
DETAILING_CONTROLNET_STRENGTH=0.5
DETAILING_CONTROLNET_END_PERCENT=1

[UPSCALE_DEFAULTS]
MODEL=RealESRGAN_x4plus.pth

[MUSICGEN_DEFAULTS]
DURATION=10.0
CFG=3.0
TOP_K=250
TOP_P=0.0
TEMPERATURE=1.0

[TORTOISE_DEFAULTS]
TOP_P=0.8
TEMPERATURE=0.3
VOICE=random

[BLOCKED_WORDS]
WORDS=KIDS,KID,CHILDREN,CHILD,LOLI